<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528982270295-bdjrulbahis3q5nh1argvvjao37rghb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528982270295-bdjrulbahis3q5nh1argvvjao37rghb3</string>
	<key>API_KEY</key>
	<string>AIzaSyAT6RHP8m5YsnTUEpeh6AQcL5JskCM4iXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>528982270295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-3f0a1</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-3f0a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528982270295:ios:1c937566dd38026702de12</string>
</dict>
</plist>